# Rename this file to .env and replace with your actual credentials

NOTIFY_EMAIL=costeffectivedigitalsolution@gmail.com
NOTIFY_PASS=@@@Secret007@@@
RECEIVE_EMAIL=costeffectivedigitalsolution@gmail.com
DEEPSEEK_API_KEY='sk-ea2891b5ea45401f9d58208388c0bcfd'
